<!-- BEGIN MAIN CONTENT -->
<div class="col-md-12">
    <!-- BEGIN: ACCORDION DEMO -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <span class="caption-subject bold uppercase">Conversations</span>
                <span class="caption-helper hide"></span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body">
                <div id = "messagelist" class="scroller" style="height: 329px;" data-always-visible="0" data-rail-visible1="0" start='bottom'
                    data-handle-color="#949fad">
                    <div class="general-item-list" ng-repeat="messege in messgesList">
                        <div class="row">
                            <div ng-if="messege.owner !== owner" class="item left_arrow_box  pull-left">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">{{messege.owner}}</a>
                                        <span class="messege-date">{{ messege.createdOn | date:'dd-MMM-yyyy h:mm a' }}</span>
                                    </div>
                                </div>
                                <div class="item-body"> {{messege.messegeText}} </div>
                            </div>
                            <div ng-if="messege.owner === owner" class="item right_arrow_box pull-right">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">You</a>
                                        <span class="messege-date">{{ messege.createdOn | date:'dd-MMM-yyyy h:mm a' }}</span>
                                    </div>
                                </div>
                                <div class="item-body"> {{messege.messegeText}} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row send-messege-section">
                    <div class="col-md-10">
                            <textarea class="messege-input" ng-model = "messege.messegeText"></textarea>
                    </div>
                    <div class="col-md-1">
                            <button type="botton" class="btn green pull-right" ng-click="addMessege()"> Send </button>
                    </div>

                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>
<script>
$('#messagelist').slimScroll({
        start: 'bottom'
});

</script>
<!-- END MAIN CONTENT -->