 <!-- END LOGO -->
 <!-- BEGIN LOGIN -->
 <div class="content">
     <!-- BEGIN LOGIN FORM -->
     <div class="row" ng-show="error" id="error">
         <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
             {{err}}
         </div>
     </div>
     <form ng-submit="logon()" method="post" name="logonForm">
         <h3 class="form-title">Please enter your Chat name</h3>
         <div class="form-group">
             <label class="control-label visible-ie8 visible-ie9">Chat name</label>
             <div class="input-icon">
                 <i class="fa fa-user"></i>
                 <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Chat Name"
                        name="chatName" ng-model="chatName" required /></div>
         </div>
         <div class="form-actions">
             <button type="submit" class="btn green pull-right"> Login</button>
             <br>
         </div>
     </form>
     <!-- END LOGIN FORM -->
 </div>
 <!-- END LOGIN -->
 <!-- BEGIN COPYRIGHT -->
 <div class="copyright">By Michael Selim</div>
 <!-- END COPYRIGHT -->