/* here you can put your own css to customize and override the theme */
.left_arrow_box {
    position: relative;
    background: #eaeff3;
    margin: 10px;
    margin-left: 10%;
    width: fit-content;
    max-width: 60%;
    padding: 15px !important;
}

.left_arrow_box:after,
.arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.left_arrow_box:after {
    border-color: rgba(234, 239, 243, 0);
    border-right-color: #eaeff3;
    border-width: 20px;
    margin-top: -20px;
}

.left_arrow_box:before {
    border-color: rgba(105, 122, 133, 0);
    border-right-color: #697a85;
    border-width: 23px;
    margin-top: -23px;
}

.right_arrow_box {
    position: relative;
    background: #eaeff3;
    margin: 10px;
    margin-right: 10%;
    width: fit-content;
    max-width: 60%;
    padding: 15px !important;
}

.right_arrow_box:after,
.arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.right_arrow_box:after {
    border-color: rgba(234, 239, 243, 0);
    border-left-color: #eaeff3;
    border-width: 20px;
    margin-top: -20px;
}

.right_arrow_box:before {
    border-color: rgba(105, 122, 133, 0);
    border-left-color: #697a85;
    border-width: 23px;
    margin-top: -23px;
}

.messege-input {
    width: 100%;
    height: 70px;
}

.send-messege-section {
    margin: 5%;
    border-top: 1px solid #eef1f5;
    padding: 2.5%;
    margin-bottom:0; 
    padding-bottom:0; 
}
.messege-date{
    margin-left: 25px;
    font-weight: unset;
    color: #00000085;
}
.item-body{
    margin-top:10px;  
}