<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="dashboard">
            <img src="{{settings.layoutPath}}/img/logo-light.png" alt="logo" class="logo-default" /> </a>
        </div>
    </div>
    <!-- END LOGO -->
</div>
<!-- END HEADER INNER -->